.footer-info {
    grid-area: footer-info;
    color: $white;

    & span {
        font-size: 16px;
        margin-left: 20px;
        cursor: pointer;

        &:hover {
            color: $blue;
        }
    }

    & .social-icons {
        display: flex;
        margin-left: 15px;
        cursor: pointer;
        margin-top: 10px;

        & img {
            margin-left: 5px;
            margin-right: 10px;
        }

        & .icon-inst {
            width: 25px;
        }

        & .icon-youtube {
            width: 25px;
            height: 20px;
            align-self: center;
        }

        & .icon-vk {
            width: 25px;
            height: 15px;
            align-self: center;
        }
    }
}
