.suggestions {
    grid-area: suggestions;
    color: $white;
    font-size: 16px;
    padding-top: 10px;
    cursor: pointer;

    &__text {
        display: flex;
        margin: -5px 0 5px 0;
    }

    &:hover {
        color: $blue;
    }
}
