.good-types {
    grid-area: good-types;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 4px;

    & input[type='radio'] {
        display: none;

        &:checked + label {
            background-color: $light-blue;
            color: $black;
            border: none;

            &:hover {
                color: $blue;
            }
        }
    }

    &__all {
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid $border-color;
        cursor: pointer;

        &:hover {
            transition: 0.5s ease;
            background-color: $light-grey;
        }
    }

    &__clothes {
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid $border-color;
        cursor: pointer;

        &:hover {
            transition: 0.5s ease;
            background-color: $light-grey;
        }
    }

    &__accesses {
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid $border-color;
        cursor: pointer;

        &:hover {
            transition: 0.5s ease;
            background-color: $light-grey;
        }
    }
}
