.main-info-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 116px;
    margin: 24px 0;

    &__wrap {
        display: flex;

        & .balance-info {
            margin-left: 250px;
        }
    }

    
}
