@import './vars.scss';
@import './mixins.scss'; 
@import './layout.scss';
@import './blocks/header-blocks/header.scss';
@import './blocks/header-blocks/logo.scss';
@import './blocks/header-blocks/search-bar.scss';
@import './blocks/header-blocks/user.scss';
@import './blocks/main-blocks/main.scss';
@import './blocks/main-blocks/nav-blocks/nav.scss';
@import './blocks/main-blocks/body-main-blocks/body-main-block.scss';
@import './blocks/main-blocks/body-main-blocks/shop/shop.scss';
@import './blocks/main-blocks/body-main-blocks/shop/point-blocks/point-blocks.scss';
@import './blocks/main-blocks/body-main-blocks/shop/point-blocks/accept-points.scss';
@import './blocks/main-blocks/body-main-blocks/shop/point-blocks/how-to-accept-points.scss';
@import './blocks/main-blocks/body-main-blocks/shop/point-blocks/gave-points.scss';
@import './blocks/main-blocks/body-main-blocks/shop/good-types-blocks/good-types.scss';
@import './blocks/main-blocks/body-main-blocks/shop/card-product-blocks/card-product.scss';
@import './blocks/main-blocks/body-main-blocks/shop/card-product-blocks/product.scss';
@import './blocks/main-blocks/body-main-blocks/how-to-get-points/howToGetPoints.scss';
@import './blocks/main-blocks/body-main-blocks/how-to-get-points/points-options/point-options-block.scss';
@import './blocks/main-blocks/body-main-blocks/how-to-get-points/points-options/option.scss';
@import './blocks/footer-blocks/footer.scss';
@import './blocks/footer-blocks/footer-info.scss';
@import './blocks/footer-blocks/social-icons.scss';
@import './blocks/footer-blocks/footer-suggestions.scss';
@import './blocks/footer-blocks/footer-btn.scss';
@import './blocks/modal/modal-main.scss';
@import './blocks/modal/modal-bg.scss';
@import './blocks/modal/modal.scss';
@import './blocks/modal/modal-blocks/modal-wrap.scss';
@import './blocks/modal/modal-blocks/pictures-info/pictures-info.scss';
@import './blocks/modal/modal-blocks/pictures-info/pictures-info-primary.scss';
@import './blocks/modal/modal-blocks/pictures-info/pictures-info-secondary.scss';
@import './blocks/modal/modal-blocks/main-info/main-info.scss';
@import './blocks/modal/modal-blocks/main-info/main-info-header/main-info-header.scss';
@import './blocks/modal/modal-blocks/main-info/main-info-header/main-info-header-text.scss';
@import './blocks/modal/modal-blocks/main-info/main-info-header/main-info-price-text.scss';
@import './blocks/modal/modal-blocks/main-info/main-info-header/main-info-btn.scss';
@import './blocks/modal/modal-blocks/main-info/main-info-body/main-info-colors/main-info-colors-text.scss';
@import './blocks/modal/modal-blocks/main-info/main-info-body/main-info-colors/main-info-colors-toggle.scss';
@import './blocks/modal/modal-blocks/main-info/main-info-body/main-info-sizes/main-info-sizes-text.scss';
@import './blocks/modal/modal-blocks/main-info/main-info-body/main-info-sizes/main-info-sizes-toggle.scss';
@import './blocks/modal/modal-blocks/main-info/main-info-body/main-info-footer/main-info-footer.scss';
@import './blocks/modal/modal-blocks/main-info/main-info-body/main-info-footer/main-info-footer-details-main/main-info-footer-details.scss';
@import './blocks/modal/modal-blocks/main-info/main-info-body/main-info-footer/main-info-footer-details-main/main-info-footer-details-first.scss';
@import './blocks/modal/modal-blocks/main-info/main-info-body/main-info-footer/main-info-footer-details-main/main-info-footer-details-second.scss';
@import './blocks/modal/modal-blocks/main-info/main-info-body/main-info-footer/main-info-footer-details-additional/main-info-footer-details-additional.scss';
@import './blocks/modal/modal-blocks/main-info/main-info-body/main-info-footer/main-info-footer-details-additional/main-info-footer-details-additional-first.scss';
@import './blocks/modal/modal-blocks/main-info/main-info-body/main-info-footer/main-info-footer-details-additional/main-info-footer-details-additional-second.scss';
@import './blocks/modal/modal-blocks/balance-info/balance-info.scss';
@import './blocks/modal/modal-blocks/balance-info/balance-info-icon.scss';
@import './blocks/modal/modal-blocks/balance-info/balance-info-text/balance-info-text-yours.scss';
@import './blocks/modal/modal-blocks/balance-info/balance-info-text/balance-info-points.scss';
@import './blocks/modal/modal-blocks/modal-close/modal-close.scss';

body {
    font-family: 'Open Sans', sans-serif;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    display: grid;
    grid-gap: 4px;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto 1fr 1fr auto;
    grid-template-areas:
        'header header header header'
        'main main main main'
        'main main main main'
        'footer footer footer footer';
    overflow: hidden;
    min-height: 100vh;

    &__header {
        margin-top: 25px;
        margin-left: 10px;
        margin-right: 10px;
    }

    &__main {
        margin-top: 25px;
        margin-left: 10px;
        margin-right: 10px;
    }

    &__footer {
        margin-top: 62px;
    }
}
