*,
*::before,
*::after {
    margin: 0;
    padding: 0
}

.container {
    display: grid;
    grid-gap: 10px;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto 1fr 1fr auto;
    grid-template-areas:
        'header header header header'
        'body body body body'
        'body body body body'
        'footer footer footer footer';
    overflow: hidden;
    min-height: 10vh;
}

.header {
    grid-area: header;
    display: grid;
    grid-column: 1/5;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 10px;
    grid-template-areas: 'logo search-bar search-bar user';
    margin-top: 25px;
    margin-left: 100px;
    margin-right: 100px;
}

.logo {
    grid-area: logo;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.logo img {
    width: 350px;
}

.search-bar {
    grid-area: search-bar;
    background: #f2f2f3;
    border-radius: 8px;
    width: 400px;
}

.search-bar button {
    border: none;
    width: 100%;
    height: 100%;
    background: url('../assets/search-logo.jpg') 25px no-repeat;
    cursor: pointer;
}

.search-bar input {
    position: relative;
    width: 300px;
    left: 25px;
    height: 97%;
    font-family: 'Open Sans', sans-serif;
    font-size: 28px;
    line-height: 28px;
    color: #888b94;
    background-color: #f2f2f3;
    border: none;
    outline: none;
    cursor: pointer;
}

.search-bar input:hover::-webkit-input-placeholder {
    color: #2a81dd;
}

.user {
    grid-area: user;
    display: flex;
    justify-content: flex-end;
    width: 80%;
    background: url('../assets/user-logo.jpg') 220px center no-repeat;
    background-size: 55px 55px;
    border: none;
}

.user-name {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #2a81dd;
    cursor: pointer;
    display: flex;
}

.user-points {
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: black;
    display: flex;
}

.user-points:hover {
    color: #2a81dd;
}

.body {
    grid-area: body;
    margin-top: 25px;
    margin-left: 100px;
    margin-right: 100px;
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 10px 10px;
    grid-template-areas:
        'nav main-menu main-menu main-menu'
        'nav main-menu main-menu main-menu'
        'nav main-menu main-menu main-menu'
        'nav main-menu main-menu main-menu'
}

.nav {
    grid-area: nav;
    margin-right: 25px;
}

.nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

.nav ul li {
    margin-bottom: 35px;
}

.nav ul li a {
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    color: #1c1819;
}

.nav ul li a:hover {
    color: #2a81dd;
}

.selected span {
    font-weight: bolder;
}

.selected::before {
    position: relative;
    content: '';
    width: 23px;
    height: 23px;
    border-radius: 50px;
    border: 1px solid #2a81dd;
    left: -15px;
    margin-right: -2px;
}

.body-main-block {
    grid-area: main-menu;
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 4% 2% 33%;
    grid-gap: 40px;
    grid-template-areas:
        'point-blocks point-blocks point-blocks'
        'good-types . .'
        'card-products card-products card-products';
}

.point-blocks {
    grid-area: point-blocks;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}

.accept-points {
    border-radius: 16px;
    display: flex;
    align-items: center;
    background: #eff8eb url('/src/assets/plus-icon.jpg') 60px center no-repeat;
    background-size: 40px 40px;
    border: none;
    cursor: pointer;
}

.accept-points span {
    position: relative;
    margin-left: 150px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
}

.accept-points span:hover {
    color: #2a81dd;
}

.how-to-accept-points {
    border-radius: 16px;
    display: flex;
    align-items: center;
    background: #fffae7 url('/src/assets/question-mark-icon.jpg') 70px center no-repeat;
    background-size: 25px 45px;
    border: none;
    cursor: pointer;
}

.how-to-accept-points span {
    position: relative;
    margin-left: 150px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
}

.how-to-accept-points span:hover {
    color: #2a81dd;
}

.gave-points {
    border-radius: 16px;
    display: flex;
    align-items: center;
    background: #e9f2fb url('/src/assets/present-icon.jpg') 70px center no-repeat;
    background-size: 55px 55px;
    border: none;
    cursor: pointer;
}

.gave-points span {
    position: relative;
    margin-left: 150px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
}

.gave-points span:hover {
    color: #2a81dd;
}

.good-types {
    grid-area: good-types;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}

input[type='radio'] {
    display: none;
}

input[type='radio']:checked + label {
    background-color: #d6ecfb;
    color: black;
    border: none;
}

input[type='radio']:checked + label:hover {
    color: #2a81dd;
}

.all-goods-type {
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #1c18191a;
    cursor: pointer;
}

.clothes-type {
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #1c18191a;
    cursor: pointer;
}

.accesses-type {
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #1c18191a;
    cursor: pointer;
}

.good-types label {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
    color: #2a81dd;
}

.card-products {
    grid-area: card-products;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.product {
    position: relative;
    text-align: center;
}

.product img {
    display: block;
    grid-area: img;
    width: 100%;
    cursor: pointer;
}

.card-new {
    position: absolute;
    left: 23px;
    bottom: 250px;
    background: #64bd38;
    border-radius: 4px;
    font-family: 'Open Sans', sans-serif;
    color: white;
    padding: 4px;
    cursor: pointer;
}

.card-new:hover {
    color: #2a81dd;
}

.card-info {
    grid-area: card-info;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.card-info-points {
    font-family: 'Open Sans', sans-serif;
    font-size: 36px;
    font-weight: 600;
    line-height: 36px;
    color: #2a81dd;
    margin-left: 20px;
    cursor: pointer;
}

.card-info-descr {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 600;
    margin-left: 20px;
    margin-top: 20px;
    cursor: pointer;
}

.card-info-descr:hover {
    color: #2a81dd;
}

.card-info-sizes {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: #888b94;
    margin-left: 20px;
    margin-top: 20px;
    cursor: pointer;
}

.card-info-sizes:hover {
    color: #2a81dd;
}

.product:hover .card-info-points {
    color: #f33;
}

.product:hover .card-info-btn {
    visibility: visible;
}

.card-info-btn {
    visibility: hidden;
    margin: 15px 20px;
    padding: 16px;
    background: #2a81dd;
    box-shadow: 0 2px 4px rgba(28, 24, 25, 0.1);
    border-radius: 8px;
    align-self: stretch;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    cursor: pointer;
}

/* =========================================================== */

.footer {
    grid-area: footer;
    background-color: black;
    margin-top: 110px;
    margin-left: 100px;
    margin-right: 100px;
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1.7fr 0.3fr 0fr;
    grid-template-rows: 2.27fr 0fr 0fr;
    gap: 10px 10px;
    grid-template-areas:
        'footer-info footer-btn .'
        '. . .'
        '. . .';
}

.footer-info {
    grid-area: footer-info;
    display: flex;
    justify-content: space-between;
}

.socials {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.socials span {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    margin: 20px;
    cursor: pointer;
}

.social-icons {
    display: flex;
}

.social-icons img {
    margin-left: 10px;
    margin-right: 10px;
    justify-content: center;
    cursor: pointer;
}

.social-icons img:hover {
    color: #2a81dd;
}

.social-icons .icon-inst {
    width: 25px;
}

.social-icons .icon-youtube {
    width: 25px;
    height: 20px;
    align-self: center;
}

.social-icons .icon-vk {
    width: 25px;
    height: 15px;
    align-self: center;
}

.suggestions {
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    margin: 20px;
}

.footer-btn {
    grid-area: footer-btn;
    background: #fff;
    box-shadow: 0 2px 4px rgba(28, 24, 25, 0.1);
    border-radius: 12px;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #2a81dd;
    margin: 20px;
    cursor: pointer;
}
