*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    display: grid;
    grid-gap: 4px;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto 1fr 1fr auto;
    grid-template-areas:
        'header header header header'
        'main main main main'
        'main main main main'
        'footer footer footer footer';
    overflow: hidden;
    min-height: 10vh;
}

.header {
    grid-area: header;
    display: grid;
    grid-column: 1/5;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 4px;
    grid-template-areas: 'logo search-bar search-bar user';
    margin-top: 25px;
    margin-left: 10px;
    margin-right: 10px;
}

.logo {
    grid-area: logo;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.header__logo img {
    width: 250px;
}

.search-bar {
    grid-area: search-bar;
    background: #f2f2f3;
    border-radius: 8px;
    width: 300px;
}

.search-bar button {
    border: none;
    width: 100%;
    height: 100%;
    background: url('../assets/search-logo.svg') 20px no-repeat;
    cursor: pointer;
    background-size: 20px 20px;
}

.search-bar input {
    position: relative;
    width: 230px;
    left: 25px;
    height: 97%;
    font-size: 20px;
    line-height: 28px;
    color: #888b94;
    background-color: #f2f2f3;
    border: none;
    outline: none;
    cursor: pointer;
}

.user {
    grid-area: user;
    display: flex;
    justify-content: flex-end;
    background: url('../assets/user-logo.jpg') center no-repeat;
    background-size: 45px 45px;
    width: 270px;
    height: 44.5px;
    border: none;
}

.user-name {
    font-weight: 600;
    font-size: 16px;
    color: #2a81dd;
    cursor: pointer;
    display: flex;
}

.user-points {
    cursor: pointer;
    font-size: 14px;
    color: black;
    display: flex;
}

.user-points:hover {
    color: #2a81dd;
}

.main {
    grid-area: main;
    margin-top: 25px;
    margin-left: 10px;
    margin-right: 10px;
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 10px 10px;
    grid-template-areas:
        'nav main-menu main-menu main-menu'
        'nav main-menu main-menu main-menu'
        'nav main-menu main-menu main-menu'
        'nav main-menu main-menu main-menu'
}

.nav {
    grid-area: nav;
    margin-right: 25px;
}

.nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

.nav ul li {
    margin-bottom: 28px;
}

.nav__item {
    text-decoration: none;
    font-size: 20px;
    color: #1c1819;

    --border-size: 2px;
}

.nav__item:hover {
    color: #2a81dd;
    font-weight: bold;
}

.nav__item::before {
    position: relative;
    content: '';
    height: 23px;
    border-radius: 50px;
    border: 1px solid #2a81dd;
    left: -10px;
    margin-right: -2px;
    opacity: 0;
}

.nav__item:hover::before {
    opacity: 1;
    transition: 0.5s ease;
}

.nav__item_active {
    font-weight: bolder;
}

.nav__item_active::before {
    position: relative;
    content: '';
    height: 23px;
    border-radius: 50px;
    border: 1px solid #2a81dd;
    left: -10px;
    margin-right: -2px;
}

.body-main-block {
    grid-area: main-menu;
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 4% 2% 33%;
    grid-gap: 40px;
    grid-template-areas:
        'point-blocks point-blocks point-blocks'
        'good-types . .'
        'card-products card-products card-products';
}

.point-blocks {
    grid-area: point-blocks;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 4px;
}

.accept-points {
    border-radius: 16px;
    display: flex;
    align-items: center;
    background: #eff8eb;
    border: none;
    cursor: pointer;
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
}

.accept-points__icon {
    font-size: 36px;
    margin: 0 25px 0 40px;
}

.accept-points:hover {
    color: #2a81dd;
}

.how-to-accept-points {
    border-radius: 16px;
    display: flex;
    align-items: center;
    background: #fffae7;
    border: none;
    cursor: pointer;
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
}

.how-to-accept-points__icon {
    font-size: 40px;
    margin: 0 20px 0 40px;
    color: red;
}

.how-to-accept-points:hover {
    color: #2a81dd;
}

.gave-points {
    border-radius: 16px;
    display: flex;
    align-items: center;
    background: #e9f2fb url('/src/assets/present-icon.jpg') 50px center no-repeat;
    background-size: 45px 45px;
    border: none;
    cursor: pointer;
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    padding-left: 115px;
}

.gave-points:hover {
    color: #2a81dd;
}

.good-types {
    grid-area: good-types;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 4px;
}

input[type='radio'] {
    display: none;
}

input[type='radio']:checked + label {
    background-color: #d6ecfb;
    color: black;
    border: none;
}

input[type='radio']:checked + label:hover {
    color: #2a81dd;
}

.all-goods-type {
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #1c18191a;
    cursor: pointer;
}

.all-goods-type:hover {
    transition: 0.5s ease;
    background-color: rgb(196, 194, 194);
}

.clothes-type {
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #1c18191a;
    cursor: pointer;
}

.clothes-type:hover {
    transition: 0.5s ease;
    background-color: rgb(196, 194, 194);
}

.accesses-type {
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #1c18191a;
    cursor: pointer;
}

.accesses-type:hover {
    transition: 0.5s ease;
    background-color: rgb(196, 194, 194);
}

.good-types label {
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    color: #2a81dd;
}

.card-products {
    grid-area: card-products;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.product {
    position: relative;
    text-align: center;
}

.product img {
    display: block;
    grid-area: img;
    width: 100%;
    cursor: pointer;
}

.card-new {
    position: absolute;
    left: 23px;
    bottom: 230px;
    background: #64bd38;
    border-radius: 4px;
    color: white;
    font-size: 12px;
    padding: 1px 8px 1px 4px;
    cursor: pointer;
}

.card-new:hover {
    color: #2a81dd;
}

.card-info {
    grid-area: card-info;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.card-info-points {
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    color: #2a81dd;
    margin-left: 20px;
    cursor: pointer;
}

.card-info-descr {
    font-size: 16px;
    font-weight: 600;
    margin-left: 20px;
    margin-top: 10px;
    cursor: pointer;
}

.card-info-descr:hover {
    color: #2a81dd;
}

.card-info-sizes {
    font-size: 16px;
    color: #888b94;
    margin-left: 20px;
    margin-top: 10px;
    cursor: pointer;
}

.card-info-sizes:hover {
    color: #2a81dd;
}

.product:hover .card-info-points {
    color: #f33;
    transition: 0.5s ease;
}

.product:hover .card-info-btn {
    opacity: 1;
    transition: 0.5s ease;
}

.card-info-btn {
    opacity: 0;
    margin: 15px 20px;
    padding: 16px;
    background: #2a81dd;
    box-shadow: 0 2px 4px rgba(28, 24, 25, 0.1);
    border-radius: 8px;
    align-self: stretch;
    color: white;
    font-size: 20px;
    cursor: pointer;
    border: none;
}

.footer {
    grid-area: footer;
    background-color: black;
    margin-top: 25px;
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1.7fr 0.3fr 0fr;
    grid-template-rows: 2.27fr 0fr 0fr;
    gap: 10px 10px;
    grid-template-areas:
        'footer-info footer-btn .'
        '. . .'
        '. . .';
}

.footer-info {
    grid-area: footer-info;
    display: flex;
    justify-content: space-between;
}

.socials {
    color: white;
    display: flex;
    flex-direction: column;
}

.socials span {
    font-size: 16px;
    margin: 20px;
    cursor: pointer;
}

.socials span:hover {
    color: #2a81dd;
}

.social-icons {
    display: flex;
    margin-left: 15px;
}

.social-icons img {
    margin-left: 5px;
    margin-right: 10px;
    justify-content: center;
    cursor: pointer;
}

.icon-inst {
    width: 25px;
}

.icon-youtube {
    width: 25px;
    height: 20px;
    align-self: center;
}

.icon-vk {
    width: 25px;
    height: 15px;
    align-self: center;
}

.suggestions {
    color: white;
    font-size: 16px;
    margin: 20px;
    padding-top: 10px;
    cursor: pointer;
}

.suggestions:hover {
    color: #2a81dd;
}

.footer-btn {
    grid-area: footer-btn;
    background: #fff;
    box-shadow: 0 2px 4px rgba(28, 24, 25, 0.1);
    border-radius: 12px;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #2a81dd;
    margin: 37px 27px 20px 27px;
    cursor: pointer;
}
