
.header {
    grid-area: header;
    display: grid;
    grid-column: 1/5;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 4px;
    grid-template-areas: 'logo search-bar search-bar user';

    &__logo {
        & img {
            width: 250px;
        }
    }

    &__search-bar {
        width: 300px;

        & input {
            width: 230px;
            left: 25px;
            height: 97%;
        }
    }

    &__user {
        width: 270px;
        height: 44.5px;
    }
}
