.card-products {
    grid-area: card-products;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin: 20px 0;

    &__product {
        position: relative;
    }
}
