// colors
$blue-primary: #2a81dd;
$white-darkest: #f2f2f3;
$payed-green: #eff8eb;
$payed-yellow: #fffae7;
$payed-blue: #e9f2fb;
$blue-lighter: #d6ecfb;
$light-grey: #c0bebe;
$green: #64bd38;
$gray:#888b94;
$red: #f33;
$white: #fff;
$black: #1c1819;
$border-color: #1c18191a;
