// colors
$blue: #2a81dd;
$grey: #f2f2f3;
$light-green: #eff8eb;
$light-yellow: #fffae7;
$light-silver: #e9f2fb;
$light-blue: #d6ecfb;
$light-grey: rgb(196, 194, 194);
$green: #64bd38;
$dark-grey:#888b94;
$red: #f33;
$white: white;
$black: #1c1819;
$border-color: #1c18191a;
